<h1> 통합 </h1>
<h1> ATCG로 이뤄진 Sequence 입력</h1>
<form action="/home/united_submit" method="POST">
  <textarea name="sequence" placeholder="이곳에 sequence를 입력하세요" style="width:100%; min-height:300px;">
  </textarea>

  <input type="submit">
</form>
